@page
@model CitizenService.Web.Pages.Citizens.CitizenDetailModel
@{
    ViewData["Title"] = "Citizen Detail";
}

<h1 class="mklu-heading-1">Citizen Detail</h1>
@if (Model.Citizen != null)
{
    <dl class="mklu-dl">
        <dt>Citizen Number</dt>
        <dd>@Model.Citizen.CitizenNumber</dd>
        <dt>Person ID</dt>
        <dd>@Model.Citizen.PersonId</dd>
        <dt>Status</dt>
        <dd>@Model.Citizen.Status</dd>
        <dt>Granted At</dt>
        <dd>@Model.Citizen.GrantedAt</dd>
        <dt>Import Source</dt>
        <dd>@Model.Citizen.ImportSource</dd>
    </dl>
}
else
{
    <p>Citizen not found.</p>
}
<a href="/Citizens" class="mklu-btn mklu-btn-outlined">Back</a>
